* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    padding: 16px;
}

body {
    background: #000;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    padding: 10rem;
    background: #ffff;
    text-align: center;
}

.quotes {
    color: gray;
}

#author {
    margin-bottom: 2rem;
}

