* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #292929;
    font-family: Arial, sans-serif;
}

.container {
    justify-content: center;
    align-items: center;
}

.formContainer {
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 10px;
    background-color: #f9f9f9;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    max-width: 500px;
    width: 100%;
}

input, select {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.bill, .numberOfGuests, .service {
    margin-bottom: 15px;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}

h2 {
    text-align: center;
    margin-top: 20px;
    color: #007bff;
}

.resultDiv {
    justify-content: center;
    align-items: center;
    margin-top: 20px; /* Adjust margin as needed */
    color: white;
    background-color: rgba(43, 43, 43, 0.34);
    max-width: 400px;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
}
